#lol{
    width: 25px;
    height: 25px;
}
#can{ 
    background-image: url("images/hmm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.texty{
   margin-top: 360px;
   margin-left: 70px;
}
.texty2{
    margin-left: 70px;
}
.texty2 span{
   border-bottom: 5px green solid;
}